@forward 'globals';

.flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.cta {
    background: black;
    color: white;
    margin-left: .5em;
    padding: .5em 1em;
    cursor: pointer;
}

li {
    background-color: #E6E6E6;
    padding: 1em;
}

.toggle-darkmode {
    background-color: black;

    &, img {    
        filter: invert(1) hue-rotate(180deg);
    }
}