@forward 'globals';

.user-profile {
    display: flex;
    gap: 1rem;

    .user-img {
        position: relative;
        width: 5rem;
        height: 5rem;

        &::after {
            content: '';
            display: block;
            position: absolute;
            inset: -.5rem;
            z-index: -1;
            border: 5px solid transparent;
            opacity: 1;
            transition: opacity 1000ms ease;
            transition-delay: 500ms;
        }

        &::after, &, img {
            border-radius: 50%;
        }
    }

    .spin::after {
        animation-name: spin;
        animation-duration: 1000ms;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        border-left-color: #DDD;
    }

    .pause::after {
        animation-play-state: paused;
        border-color: #DDD;
        opacity: 0;
    }
}

.container {
    background-color: #EEE;
    border-radius: 20px;
    padding: 1.3rem;
    margin-top: 1.5rem;

    button {
        background-color: #DDD;
        cursor: pointer;
        margin-left: .5rem;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    } 100% {
        rotate: 360deg;
    }
}